<%= link_to '全て' ,'/' %>
<%= link_to '解決済' ,'/quests/index_t' %>
<%= link_to '未解決','/quests/index_f' %>

<% @quests.each do |quest| %>
<div>
  <p>タイトル：<%= quest.title %></p>
  <p>内容：<%= quest.content %></p>
  <p>
    <% if quest.is_solved == false && quest.user == current_user %>    　　<%# is_solved==false かつ　その質問を投稿したユーザーだけが”解決済”にできる  %>
    <%= link_to '未解決', controller: 'quests', action: 'make_solved', id: quest %>
   <% elsif quest.is_solved == false %>
    未解決
   <% end %>
  </p>
  <p>ユーザーネーム：<%= quest.user.name %></p>
  <% if quest.user == current_user %>
   <p><%= link_to "質問編集", edit_quest_path(quest.id) %></p>
  <% end %>
  <p><%= link_to "質問詳細", quest_path(quest.id) %></p>

</div>
<% end %>