<!DOCTYPE html>
<html>
  <head>
    <title>Question</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"btn btn-primary" %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path,class:"btn btn-primary" %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path,class:"btn btn-primary" %>
      </li>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
